.button {
  margin-top: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.text {
  font: var(--title-medium);
  color: var(--text-light);
  padding: 10px 0 0 0;
}

.iconBox {
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  background: transparent;
  flex-shrink: 0;
}
